@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --font-base: 'DM Sans', sans-serif;

  /* --primary-color: #4c5f7a !important; */
  --primary-color: #c2ded1 !important;
  --secondary-color: #f30a49 !important;
  --black-color: #030303 !important;
  --lightGray-color: #e4e4e4 !important;
  --gray-color: #6b7688 !important;
  --brown-color: #46364a !important;
  --white-color: #ffffff !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
